body {
    background-color: #F5F5F5;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.grid-layout {
    display: grid;
    grid-template-rows: 140px max-content;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 2px;
    margin-bottom: 20px;
}

.icon {
    transform: rotate(15deg);
}

.logo {
    text-align: center;
}

.logo1 {
    font-family: 'Meow Script', cursive;
    font-size: 75px;
    padding-right: 10px;
}

.logo2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 24pt;
}

.logo > a {
    text-decoration: none;color: inherit;
}

#toggle-btn {
    position: absolute;
    top: 50px;
    left: 380px;
    cursor: pointer;
}


#sidebar {
    position: absolute;
    top: 0;
    left: -350px;
    background-color: white;
    width: 350px;
    height: 100vh;
    transition: 400ms;
}

#sidebar ul li {
    font-family: 'Architects Daughter', cursive;    list-style: none;
    font-size: 36px;
    padding: 20px 20px;
}

#toggle-btn span {
    width: 30px;
    height: 2.4px;
    background: #000;
    display: block;
    margin-top: 5px;
    border-radius: 25px;
}

#sidebar.active {
    left: 0;
}


.main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.card {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 20px 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 300ms;
}

.main-content .card:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
    transform: scale(1.02);
}

.card img {
    width: 70vw;
    height: 70vw;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 200ms;
}

a:hover {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
}

.footer {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.flex-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

fieldset {
    width: 80vw;
}

legend {
    font-family: 'Architects Daughter', cursive;
}

textarea {
    width: 80vw;
    max-width: 80vw;
}

#menu-bar {
    display: flex;
    justify-content: space-around;
    font-family: 'Architects Daughter', cursive;    list-style: none;
    font-size: 36px;
    padding: 10px 10px;
    border-bottom: solid black 2px;
}

@media screen and (max-width: 800px) {
    #menu-bar {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .main-content {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    .header {
        border-bottom: none;
        margin-bottom: 0px;
    }
    
    #sidebar {
        display: none;
    }

    .card img {
        width: 40vw;
        height: 40vw;
        object-fit: cover;
        max-width: 400px;
        max-height: 400px;
    }

    .about-content {
        flex-flow: row wrap
    }

    

}