body {
    background-color: #F5F5F5;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.grid-layout {
    display: grid;
    grid-template-rows: 140px max-content;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: yellow; */
    border-bottom: solid black 2px;
    margin-bottom: 20px;
}

.icon {
    transform: rotate(15deg);
    margin-left: 20px;
}

.logo {
    text-align: center;
    margin-left: 100px;
}

.logo1 {
    font-family: 'Meow Script', cursive;
    font-size: 48pt;
}

.logo2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 24pt;
}

.logo > a {
    text-decoration: none;color: inherit;
}

#toggle-btn {
    position: absolute;
    top: 50px;
    left: 330px;
}


#sidebar {
    position: absolute;
    top: 0;
    left: -300px;
    background-color: white;
    width: 300px;
    height: 100vh;
    transition: 400ms;
}

#sidebar ul li {
    font-family: 'Architects Daughter', cursive;    list-style: none;
    font-size: 36px;
    padding: 20px 20px;
}

#toggle-btn span {
    width: 30px;
    height: 2.4px;
    background: #000;
    display: block;
    margin-top: 5px;
    border-radius: 25px;
}

#sidebar.active {
    left: 0;
}


.main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.card {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 20px 20px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 300ms;
}

.main-content .card:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
    transform: scale(1.02);
}

.card img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 200ms;
}

a:hover {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
}

.footer {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.flex-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

fieldset {
    width: 80vw;
}

legend {
    font-family: 'Architects Daughter', cursive;
}

textarea {
    width: 80vw;
    max-width: 80vw;
}